//join-us styles 
.join-us {
  display: block;
  width: 100%;
  height: auto;
  background: url($path + 'white_bg.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 2rem 0;

  @include desktop {
    padding: 3rem 0;
  }
  
  .content {
    margin: 2rem 0 0;
    color: $text;
    padding: 0;

    @include lgDesktop {
      margin: 3rem 0 0;
    }

    p {
      margin: 1rem 0;
      font-size: calc-em(18px);
    }

    .alert {
      margin: 2rem 0;
    }

    a {
      color: $orange;

      &:hover {
        color: $limeGreen;
        text-shadow: 0px 0px 1px $limeGreen;
      }
    }
  }
}