include ../../atoms/section-title/section-title

mixin join-us(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.join-us(class=spec.__class)&attributes(attributes)
    .container
      +section-title({
        "__class": spec.__titleClass,
        "__title": spec.__title
      })

      if block 
        .content
          block