//card styles 
.card {
  $p: &;
  margin: 0 0 20px;

  &.bottom-border {
    .card-wrap {
      border-bottom: 10px solid $grey1;
    }

    &.blue {
      .card-wrap {
        border-bottom-color: $blue;
      }
    }

    &.purple {
      .card-wrap {
        border-bottom-color: $pBlue;
      }
    }

    &.lime {
      .card-wrap {
        border-bottom-color: $limeGreen;
      }
    }

    &.orange {
      .card-wrap {
        border-bottom-color: $orange;
      }
    }
  }

  &-wrap {
    background: $grey3;

    #{$p}-header {
      // padding: 10px 0;
      position: relative;
      display: inline-flex;
      align-items: flex-end;
      width: 100%;
      height: auto;
      overflow: hidden;
      
      .img-wrap {
        position: relative;
        width: 100%;
        height: 185px;

        &.compact-object-fit {
          background-size: cover;
		      background-position: center center;

          img {
            opacity: 0;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }

        & + .title-wrap {
          position: absolute;
          bottom: 10px;
        }
      }

      .title-wrap {
        width: auto;
        max-width: 100%;
        color: $white;
        display: inline-block;
        position: relative;
        padding: 10px 7rem 10px 20px;
        margin: 15px 0 20px;
        z-index: 1;

        @include desktop {
          padding: 20px 7rem 20px 25px;
        }

        &:after {
          background: $grey1;
          position: absolute;
          content: '';
          display: inline-block;
          width: 100%;
          height: 100%;
          top: 0;
          left: -80px;
          z-index: -2;
          transform-origin: bottom left;
          transform: skew(-28deg, 0deg);
          box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.15);
        }

        .title {
          font-size: calc-em(16px);
          font-weight: $semibold;
          line-height: 1.3;

          @include desktop {
            font-size: calc-em(20px);
          }

          @include lgDesktop {
            font-size: calc-em(22px);
          }
        }
      }
    }

    #{$p}-quote {
      padding: 20px;
      display: inline-flex;
      flex-wrap: wrap;
      align-items: flex-start;

      .quote {
        &-img {
          display: flex;
          height: 40px;
          width: 100%;
          justify-content: flex-start;

          &:last-child {
            justify-content: flex-end;
          }

          svg {
            height: 100%;
            width: auto;
          }
        }

        &-wrap {
          padding: 0 20px;

          @include desktop {
            padding: 0 30px;
          }
        }
      }
    }

    #{$p}-content {
      padding: 25px;
      display: block;

      .content {
        &-wrap {
          margin: 1rem 0;
        }
      }
    }
  }

  &.blue {
    .title-wrap {
      &:after {
        background: rgba(25,68,148,0.8);
      }
    }

    .quote-img {
      svg {
        g {
          path {
            fill: rgba(25,68,148,0.8);
          }
        }
      }
    }
  }

  &.purple {
    .title-wrap {
      &:after {
        background: rgba(140,173,236,0.8);
      }
    }

    .quote-img {
      svg {
        g {
          path {
            fill: rgba(140,173,236,0.8);
          }
        }
      }
    }
  }

  &.orange {
    .title-wrap {
      &:after {
        background: rgba(243,146,0,0.8);
      }
    }

    .quote-img {
      svg {
        g {
          path {
            fill: rgba(243,146,0,0.8);
          }
        }
      }
    }
  }

  &.lime {
    .title-wrap {
      &:after {
        background: rgba(192,215,48,0.8);
      }
    }

    .quote-img {
      svg {
        g {
          path {
            fill: rgba(192,215,48,0.8);
          }
        }
      }
    }
  }
}